@tailwind base;
@tailwind components;
@tailwind utilities;

/* todo use tailwind */
body{
    background-color: black;
    font-family: sans-serif;
}
.button{
    width: 100px;
    height: 50px;
    border-radius: 20px;
    padding: 10px;
    margin: 10px;
    background-color: #00f260;
}
input{
    color: black;
  font-size: 1.2rem;
	/* margin: 0 auto; */
  padding: 1.5rem 2rem;
  border-radius: 0.2rem;
  background-color: rgb(171, 243, 171);
  border: none;
  /* width: 90%; */
  /* display: block; */
  border-bottom: 0.3rem solid transparent;
  transition: all 0.3s;
}